header {
	background-image: url("../img/fond.jpg");
	background-position: center; 
	background-size: cover;
	
	

}

nav {
	
	margin-top: 20px;
    font-family: 'Kaushan Script', cursive;
    text-align: center;
}

header h1 {
	font-size: 2em;
    font-family: 'Kaushan Script', cursive;
    padding-bottom: 300px;
    padding-top: 20px;
    text-align: center;
    color: white;
   
} 
header p {
	
	text-align: center;
    color: white;
    
}

.fa {
	display:block;
} 
header a {
	display:inline-block;
	text-align: center;
	margin: 10px;
}
a {
	color: white;
	text-decoration: none;
	padding-bottom: 100px;
}

body {
	font-family: 'Playfair Display', serif;
}
 .img_left {
	float:left;
	margin-right: 20px;
}
 .img_right {
	float:right;
	margin-left: 20px;
}
.clear {
	clear: both;
}

.section1 {
	color:#555;
}
.section2 article {
	display: inline-block;
	width: 33.33%;


}

 .section2 {
	background : url("../img/background_section.jpg") bottom ;
     
}
iframe {
	width: 100%;
}
.section2  {
	color: white;

}
.section2 h2 {
	text-align: center;
}
footer {
	background-color:#A289DD;
}

h2 {
	text-align:  center;
}
.section2 img {
	width: 90px;
	margin-left: 100px;

}
.section2 p {
	padding:25px;
}
footer {
	background-image: url(../img/3wa.png);
	background-position: center;
	background-image: no-repeat ;
}
td {
	border: 1px solid black;
	padding: 10px;
	text-align: center;
}
table{
	border:medium solid;
	width: 100%;
	border-collapse:collapse;  
}
th {
	background-color:#C2A3E7;
	padding: 10px;
}
main {
	padding: 0 50px;
}
form {
	text-align: center;
}
tr:nth-child(even) {background:#f2f2f2;}
td:first-child {text-align:left;}

