 * {
    box-sizing: border-box;
    outline: none;
 }

 img {max-width: 100%;
			
}


 	aside {
 		display:none;
 	
 	}

nav a {
  	display: block;
	background-color:#4EAF93;
	padding:20px;
	
}
nav a:hover {
	background-color:#4FFF93;
	
}

header {text-align: center;}


h1,h2 {
	color:#4EAF93;

        }


 @media screen and (min-width: 768px){

	 	aside {
 		display:block;
 	background-color: #b8dcb1;}

 }
 @media screen and (min-width: 1024px) {
 	aside,section,nav a {
 		display: inline-block;
 		vertical-align: top;
 	}

 		nav a {
	width:33.33%;

	}
	section {
		width:70%;
	}
	aside {
		width:30%;
	}

	.container {
	max-width: 80%;
	margin: 0 auto;
}


 }



